@charset "UTF-8";

* {
            margin: 0px;
            padding: 0px;
        }
        img {
            width: 100%;
        }
        a {
            display: block;
            text-align: center;
            color: white;
            background-color: darkgrey;
            font-size: large;
            text-decoration: none;
            padding: 15px;
        }
        a:hover {
            background-color: darkred;
        }